.animatable--now {
  transition: all 50ms ease-out !important;
}

p {
  color: white;
  font-size: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-outer-wrap {
  background: #303F9F;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-outer-wrap .header-inner-wrap {
  width: 100%;
  color: white;
  font-weight: 200;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
}
.header-outer-wrap .header-inner-wrap .header-title {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap #signout-form {
  display: none;
  height: 100%;
  width: 100%;
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap #signout-form button {
  width: 100%;
  height: 100%;
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  padding: 0.6rem;
  background: none;
  color: white;
  box-shadow: none;
  font-size: 0.75rem;
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap #signout-form button:focus {
  border: none;
  outline: none;
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap #signout-form button:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap input[type=button] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.header-outer-wrap .header-inner-wrap .logout-current-user {
  text-align: center;
}
.header-outer-wrap .header-inner-wrap .logout-current-user p {
  padding-top: 0.25rem;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap {
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-signup {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-signup a {
  font-size: 0.6rem;
  text-decoration: none;
  color: #EDEDED;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form {
  grid-row: 2;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form {
  height: 100%;
  width: 100%;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form input[type=text] {
  margin: 0;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form input[type=password] {
  margin: 0;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form input[type=submit] {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
