.animatable--now {
  transition: all 50ms ease-out !important;
}

p {
  color: white;
  font-size: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animatable--now {
  transition: all 50ms ease-out !important;
}

p {
  color: white;
  font-size: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-outer-wrap {
  background: #303F9F;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  z-index: 999;
  height: 6.5rem;
}
.header-outer-wrap .header-inner-wrap {
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 200;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
}
.header-outer-wrap .header-inner-wrap .header-title {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-outer-wrap .header-inner-wrap .header-logout-wrap input[type=submit] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap {
  padding: 0.25rem 0.25rem 0 0.45rem;
  grid-column: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.79fr 0.1fr;
  background: #212121;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-title h4 {
  text-align: center;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-signup {
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-signup a {
  font-size: 0.6rem;
  text-decoration: none;
  color: #EDEDED;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form {
  grid-row: 2;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form {
  height: 100%;
  width: 100%;
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form input[type=text] {
  margin: 0;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form input[type=password] {
  margin: 0;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
}
.header-outer-wrap .header-inner-wrap .header-login-wrap .header-login-form form input[type=submit] {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.15rem;
  border-radius: 0.1rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.animatable--now {
  transition: all 50ms ease-out !important;
}

p {
  color: white;
  font-size: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-outer-wrap {
  width: 100%;
  background: #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
}

.animatable--now {
  transition: all 50ms ease-out !important;
}

p {
  color: white;
  font-size: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer-outer-wrap {
  background: #303F9F;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
}

.animatable--now {
  transition: all 50ms ease-out !important;
}

p {
  color: white;
  font-size: 0.8rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.listview-wrap {
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  grid-row: 2;
  grid-column: 2/4;
  height: 100%;
  width: 100%;
  background: #303F9F;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
}
.listview-wrap .listview-info-wrap {
  grid-column: 1/6;
  grid-row: 1;
}
.listview-wrap .listview-info-wrap .listview-info {
  padding: 0.5rem;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
}
.listview-wrap .listview-info-wrap .listview-info h1 {
  color: white;
  text-align: center;
  font-weight: 400;
}
.listview-wrap .tmp-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1/4;
}
.listview-wrap .tmp-wrap p {
  text-align: center;
}
.listview-wrap .request-wrap {
  grid-column: 2;
  grid-row: 2;
  margin-top: 2rem;
  margin-bottom: 3rem;
  grid-auto-rows: 2rem;
  background: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.75rem;
}
.listview-wrap .request-wrap p {
  margin-left: 0.25rem;
}
.listview-wrap .request-wrap .hidden-form {
  display: none;
}
.listview-wrap .request-wrap .tmp-request {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.listview-wrap .request-wrap .request {
  display: grid;
  grid-template-columns: 0.025fr 0.1fr 1fr;
  height: 2rem;
  grid-column-gap: 0.25rem;
  color: #EDEDED;
}
.listview-wrap .request-wrap .request div:not(.request-checkmark):not(.request-classroom-wrap):not(.request-classroom-inner-wrap) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.2rem;
  padding-right: 0.4rem;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
}
.listview-wrap .request-wrap .request .request-classroom-wrap {
  grid-column: 1/4;
}
.listview-wrap .request-wrap .request .request-classroom-wrap .request-classroom-inner-wrap {
  background: #212121;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  border-radius: 0.15rem;
}
.listview-wrap .request-wrap .request .request-classroom-wrap .request-classroom-inner-wrap a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listview-wrap .request-wrap .request .request-classroom-wrap .request-classroom-inner-wrap :hover {
  background: #0c0c0c;
  border-radius: 0.15rem;
}
.listview-wrap .request-wrap .request .request-checkmark {
  width: 2rem;
  height: 2rem;
  background-image: url("../img/round-check_box_outline_blank-24px.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(1);
}
.listview-wrap .request-wrap .request .isChecked {
  background-image: url("../img/round-check_box-24px.svg") !important;
}
.listview-wrap .request-wrap .request .request-username-wrap {
  border-radius: 0.15rem;
  background: #212121;
  font-weight: lighter;
}
.listview-wrap .request-wrap .request .fullSize {
  grid-column: 2/4;
}
.listview-wrap .request-wrap .request .request-text-wrap {
  border-radius: 0.15rem;
  background: #172353;
  font-weight: lighter;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap {
  width: 100%;
  height: 2rem;
  background: #212121;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  border-radius: 0.15rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap {
  width: 100%;
  height: 100%;
  grid-column: 1/8;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form {
  width: 100%;
  height: 1rem;
  width: 100%;
  height: 100%;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form input[type=text] {
  width: 10rem !important;
  height: 1.5rem !important;
  color: black !important;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form input[type=submit] {
  width: 2rem !important;
  height: 1.5rem !important;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form input[type=text] {
  background: #EDEDED;
  border: none;
  outline: none;
  color: #aaaaaa;
  height: 100%;
  width: 100%;
  border-radius: 0.15rem;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  margin: 0.25rem;
  margin-right: 0 !important;
  padding-left: 0.25rem;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form input[type=submit] {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  border-radius: 0.15rem;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form input[type=submit]:focus {
  border: none;
  outline: none;
}
.listview-wrap .request-wrap .request-formsection-outer-wrap .request-form-wrap #request-form input[type=submit]:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.listview-wrap .request-wrap-signup {
  grid-auto-rows: auto !important;
}
.listview-wrap .remove-tags-wrap {
  grid-column: 9/10;
  margin-bottom: 0.15rem;
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listview-wrap .remove-tags-wrap #remove-tags-button {
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
  width: 100%;
  height: 1.5rem;
  padding: 0;
  border-bottom-right-radius: 0.25rem;
  background: #ad0505;
  font-size: 0.75rem;
}
.listview-wrap .remove-tags-wrap #remove-tags-button:focus {
  border: none;
  outline: none;
}
.listview-wrap .remove-tags-wrap #remove-tags-button:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.listview-wrap .remove-tags-wrap #remove-tags-button:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}
.listview-wrap .listview-signup-wrap {
  width: 100%;
  height: 100%;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap {
  width: 100%;
  height: 100%;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form .checkbox-wrap {
  background: #212121;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  margin: 0.25rem 0;
  border-radius: 0.1rem;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form .checkbox-wrap .checkbox-text {
  display: flex;
  align-items: center;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form .checkbox-wrap .checkbox-text p {
  font-size: 0.65rem;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form .checkbox-wrap .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.25rem;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=text], .listview-wrap .listview-signup-wrap .listview-signup-form-wrap form select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.25rem 0;
  display: inline-block;
  border: none;
  border-radius: 0.1rem;
  box-sizing: border-box;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=password], .listview-wrap .listview-signup-wrap .listview-signup-form-wrap form select {
  width: 100%;
  margin: 0.25rem 0;
  padding: 0.5rem;
  display: inline-block;
  border: none;
  border-radius: 0.1rem;
  box-sizing: border-box;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=submit] {
  margin: 0.25rem 0 !important;
  z-index: 999;
  cursor: pointer;
  outline: none;
  border: none;
  transition: margin-top 0.05s ease-out;
  transition: 0.075s 0.05s ease-out;
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
  background-color: #ba1a52;
  color: #EDEDED;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 0rem;
  background: #212121;
  width: 100% !important;
  border-radius: 0.1rem;
  box-shadow: 0 0.15rem 0 0rem rgba(0, 0, 0, 0.25);
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=submit]:focus {
  border: none;
  outline: none;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=submit]:active {
  box-shadow: 0 0.25rem 0 -0.1rem rgba(0, 0, 0, 0);
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=submit]:active {
  box-shadow: none !important;
  transform: translateY(0.1rem);
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=submit]:hover {
  background-color: #111111;
}
.listview-wrap .listview-signup-wrap .listview-signup-form-wrap form input[type=checkbox] {
  margin: 0.25rem 0 !important;
  outline: none;
  height: 1rem;
  width: 1rem;
}

html {
  overflow-y: scroll;
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.15fr;
  min-height: 100vh;
  max-height: auto;
  background: #101638;
}

/*# sourceMappingURL=master.css.map */
