@import "misc";

.listview-wrap {
  @include UnderThin;
  grid-row: 2;
  grid-column: 2/4;
  height: 100%;
  width: 100%;
  background: $PrimDark;
  display: grid;
  grid-template-columns: .3fr 1fr .3fr;

  .listview-info-wrap {

    grid-column: 1/6;
    grid-row: 1;

    .listview-info {
      padding: .5rem;

      h1 {
        color: white;
        text-align: center;
        font-weight: 400;
      }

      @include UnderThin;
    }

  }

  .tmp-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/4;

    p {
      text-align: center;
    }
  }

  .request-wrap {

      grid-column: 2;
      grid-row: 2;
      margin-top: 2rem;
      margin-bottom: 3rem;
      grid-auto-rows: 2rem;
      background: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: .75rem;

      p {
        margin-left: .25rem;
      }

      .hidden-form {
        display: none;
      }

      .tmp-request {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      .request {

        display: grid;
        grid-template-columns: .025fr .1fr 1fr;
        height: 2rem;
        grid-column-gap: .25rem;
        color: $Text;

        div:not(.request-checkmark):not(.request-classroom-wrap):not(.request-classroom-inner-wrap) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: .2rem;
          padding-right: .4rem;
          @include UnderThin();
          font-size: 0.8rem;
        }

        .request-classroom-wrap {

          grid-column: 1/4;

          .request-classroom-inner-wrap {

            background: $PrimText;
            height: 100%;
            width: 100%;
            @include UnderThin();
            border-radius: .15rem;

            a {
              text-decoration: none;
              width: 100%;
              height: 100%;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            :hover {
              background: $Darkest;
              border-radius: .15rem;
            }

          }
        }

        .request-checkmark {
          width: 2rem;
          height: 2rem;
          background-image: url("../img/round-check_box_outline_blank-24px.svg");
          background-size: 85%;
          background-repeat: no-repeat;
          background-position: center;
          filter: invert(1);
        }

        .isChecked {
          background-image: url("../img/round-check_box-24px.svg") !important;
        }

        .request-username-wrap {
          border-radius: .15rem;
          background: $PrimText;
          font-weight: lighter;
        }

        .fullSize {
          grid-column: 2/4;
        }

        .request-text-wrap {
          border-radius: .15rem;
          background: $SecDark2;
          font-weight: lighter;
        }

      }

      .request-formsection-outer-wrap {
        width: 100%;
        height: 2rem;
        background: $PrimText;
        @include UnderThin();
        border-radius: .15rem;
        display: grid;
        grid-template-columns: repeat(9, 1fr);

        .request-form-wrap {
          width: 100%;
          height: 100%;
          grid-column: 1/8;

          #request-form {
            width: 100%;
            height: 1rem;

            input[type=text] {
              width: 10rem !important;
              height: 1.5rem !important;
              color: black !important;
            }
            input[type=submit] {
              width: 2rem !important;
              height: 1.5rem !important;
            }

            @include formMix();



          }

        }

      }

  }

  .request-wrap-signup {
    grid-auto-rows: auto !important;
  }

  .remove-tags-wrap {
    grid-column: 9/10;
    margin-bottom: .15rem;
    margin-right: .25rem;
    display: flex;
    align-items: center;
    justify-content:center;

    #remove-tags-button {
      @include headerbtn();
      width: 100%;
      height: 1.5rem;
      padding: 0;
      border-bottom-right-radius: .25rem;
      background: $DeepRed;
      font-size: .75rem;
    }

  }

  .listview-signup-wrap {

    width: 100%;
    height: 100%;



    .listview-signup-form-wrap {

      width: 100%;
      height: 100%;

      form {

        .checkbox-wrap{
          background: $PrimText;
          @include UnderThin;
          display: grid;
          grid-template-columns: 1fr .25fr;
          margin: .25rem 0;
          border-radius: .1rem;

          .checkbox-text {
            p {
              font-size: .65rem;
            }

            display: flex;
            align-items: center;
          }
          .checkbox {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: .25rem;
          }
        }

        input[type=text], select {
          width: 100%;
          padding: .5rem;
          margin: .25rem 0;
          display: inline-block;
          border: none;
          border-radius: .1rem;
          box-sizing: border-box;
          @include UnderThin();
        }

        input[type=password], select {
          width: 100%;
          margin: .25rem 0;
          padding: .5rem;
          display: inline-block;
          border: none;
          border-radius: .1rem;
          box-sizing: border-box;
          @include UnderThin();
        }

        input[type=submit] {
          margin: .25rem 0 !important;
          @include headerbtn();
          background: $PrimText;
          width: 100% !important;
          border-radius: .1rem;
          @include UnderThin();
        }

        input[type=submit]:hover {
          background-color: $ThirdDark;
        }

        input[type=checkbox] {
          margin: .25rem 0 !important;
          outline: none;
          height: 1rem;
          width: 1rem;
        }

      }

    }

  }

}
