@import "misc";

.listview-wrap {

  height: 100%;
  width: 100%;
  background: $Accent;
  display: grid;
  grid-template-columns: 1fr;

  .request {

    display: grid;
    grid-template-columns: .05fr .15fr 1fr;
    height: 2rem;

  }

}
