@import "misc";

.listview-wrap {
  @include UnderThin;

  height: 75%;
  width: 75%;
  background: $PrimDark;

  .listview-info {
    padding: .5rem;

    h1 {
      color: white;
      text-align: center;
      font-weight: 400;
    }

    @include UnderThin;
  }

  .request-wrap {

      background: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: .5rem;
      padding: 2rem 6rem 2rem 6rem;

      .request {

        display: grid;
        grid-template-columns: .025fr .1fr 1fr;
        height: 2rem;
        grid-column-gap: .25rem;
        color: $Text;

        div:not(.request-checkmark) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: .4rem;
          @include UnderThin();
          font-size: 0.8rem;
        }

        .request-checkmark {
          width: 2rem;
          height: 2rem;
          background-image: url("../img/round-check_box_outline_blank-24px.svg");
          background-size: 85%;
          background-repeat: no-repeat;
          background-position: center;
          transition: background-image 50ms ease-in;
          filter: invert(1);

          &:hover {
            background-image: url("../img/round-check_box-24px.svg");
          }
        }

        .request-username-wrap {
          border-radius: .15rem;
          background: $PrimText;
          font-weight: lighter;
        }

        .request-text-wrap {
          border-radius: .15rem;
          background: $SecDark2;
          font-weight: lighter;
        }

      }

  }

}
