//colors
$Text : #EDEDED;
$PrimText : #212121;
$SecText : #aaaaaa;
$TextDark : #d6d6d6;
$TextDarker : #d8d8d8;

$Divider : #ebebeb;

$Prim : #3F51B5;
$PrimLight : #C5CAE9;
$PrimDark : #303F9F;
$SecDark : #101638;
$SecDark2 : #172353;
$ThirdDark : #111111;
$Darkest : #0c0c0c;

$Accent : #ba1a52;
$AccentDark : #d10049;
